@media screen and (max-width: 767px){
    body{
        font-size:11px;
    }
    .jumbotron-header{
        text-align: center;
    }
    .hotline{
        text-align: center;
    }
    .hotline img{
        width: 80px;
    }
    .jumbotron-header span.phone{
        font-size: 1.5em;
        line-height: unset;
    }
    .hide-if-mobile{
        display:none;
    }
    .navbar-nav{
        margin: unset;
    }
    .product .item .title{
        font-size: 1em;
    }
    .product .item img{
        height:200px;
    }
}

@media (max-width: 1300px){
    .header-content__email{
        display:none;
    }
    .navbar-primary ul li a{
        font-size: 12px;
    }
    .gg .l{
        font-size: 30px;
    }
    .addcart .btn{
        font-size: 14px;
    }
}
