body{
	background: #fafafa;
	font-family: Tahoma;
	font-size: 12px;
	margin: 0;
	text-decoration: none;	
}
.jumbotron-header{
	margin-bottom:0px;
	background-color:#fff;
	padding-top: 15px;
	padding-bottom: 15px;

}
#primary_menu{
	background: #055699;
	border-color:#055699;
	border-bottom: 1px solid #055699;
	border-radius: unset;
	margin-bottom:0px;
}
#primary_menu li{
	border-right: 1px solid rgba(255,255,255, 0.2);
}
#primary_menu li a{
	color:#fff;
	text-transform: uppercase;
	font-size: 14px;
}
#primary_menu .sub-menu{
	display:none;
	position: absolute;
	background: #fff;
	z-index: 9999;
	padding: 10px;
	min-width: 160px;
}
#primary_menu li:hover .sub-menu{
	display:block;
}
#primary_menu .sub-menu li{
	float:none;
	border-right:unset;
	padding-bottom:5px;
	list-style-type: none;
}
#primary_menu .sub-menu li a{
	color:#000;
	text-decoration: none;
}
#primary_menu .sub-menu li a:hover{
	color:#055699;
}
.navbar-default .navbar-brand{
	color:#fff;
}
.jumbotron-banner{
	background-size: cover !important;
	opacity: 0.8;
}
.item_filter{
	padding-bottom:15px;
}

.bds .item{
	background: #fff;
	padding-top:20px;
	margin-bottom:15px;
	border: 1px solid #dedede;
}
.bds .item img.avatar{
	object-fit: cover;
	height: 150px;
	margin: 0 auto;
	width:100%;
}
.bds .item h3{
	font: bold 14px/22px tahoma;
	font-weight: bold;
	margin-top:0px;
}
.bds .item h3 a{
	color:#000;
}
.bds .item .price{
	background: url(../images/icon-price.png) no-repeat 2px 0px;
	    color: #E76A00;
	    font-weight: bold;
	    padding: 0px 0 0 25px;
}
.bds .item .area {
    background: url(../images/icon-area.png) no-repeat 0px 0px;
    padding: 0px 0 0 25px;
}
.bds .item .location {
    background: url(../images/icon-location.png) no-repeat 3px 0px;
    padding: 0px 0 0 25px;
}
.bds .item .date{
	float:right;
	color: #959595;
	font-size: 12px;
}
body.single_product .list-sidebar, body.single_news .list-sidebar{
	margin-top:-20px;
}
.list-sidebar h2, .bds h2{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.sidebar {
	background-color:#fff;
	padding:15px;
	margin-bottom:15px;
	border: 1px solid #dedede;
}
.sidebar .sidebar_news img{
	object-fit: cover;
	height: 120px;
	margin: 0 auto;
	width: 100%;
}
.sidebar .sidebar_news h4{
	height: 40px;
    overflow: hidden;
}
.sidebar .sidebar_news h4 a{
	font-size: 14px;
	    color: #000;
	    text-transform: uppercase;
	    font-weight: bold;
}
.sidebar ul {
	padding:0px;
}
.sidebar ul li {
	list-style: none;
	background: url(../images/arrow-right.png) no-repeat 8px 15px;
	    padding: 11px 0 11px 27px;
	    border-bottom: 1px solid #e3eef2;
}
.sidebar ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.sidebar ul li a:hover {
	color:red;
}
.news .item img{
	object-fit: cover;
	height: 244px !important;
	margin: 0 auto;
	width: 100%;
}
.news h4 a{
	color:#000;
}
.news_list .item{
	clear:left;
	margin-bottom:15px;
}
.news_list img{
	object-fit: cover;
	height: 40px !important;
	margin: 0 auto;
	width: 50px;
	float:left;
	margin-right:15px;
}
.news_list h4 a{
	color:#000;
	font-size: 13px;
	text-decoration: none;
}
.news_list h4 a:hover{
	color:red;
}
.news, .news_list{
	background-color:#fff;
	margin-bottom:15px;
	border: 1px solid #dedede;
}
.news_list2 ul{
	background-color:#fff;
	padding:15px;
	border: 1px solid #dedede;
}
.news_list2 a{
	color:#000 !important;
	text-decoration: none;
}
.news_list2 a:hover{
	color:red !important;
}
.news_list2 ul li{
	list-style: none;
	margin-bottom:8px;
}
@media screen and (min-width: 767px){
	.list_item{
		height:340px;
		overflow: hidden;
	}
}
.list_item{
	padding:15px;
}

#footer{
	background: url(../images/bg-footer.png) repeat;
	position: relative;
	font-family: 'Roboto Regular',Arial,Helvetica,sans-serif;
	padding-bottom:15px;
}
#footer img{
	max-width: 100%;
	height:auto !important;
}
.xem-nhieu h3 a{
	color:red !important;
}

.tit_l a {
    background: url(../images/tit1.png) no-repeat scroll left top #055699;
    float: left;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
}
.tit_l a span {
    background: url(../images/tit4.png) no-repeat right top;
    display: block;
    float: left;
    padding: 5px 15px 5px 6px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.line_gr {
    border-bottom: 2px solid #055699;
}
.single-bds .content-bds{
	background-color:#fff;
	border: 1px solid #dedede;
	padding:15px;
}
.single-bds .content-bds span.price{
	font: bold 16px tahoma;
	color: #37a244;
	padding-right:5px;
}
.single-bds .content-bds span.area{
	font: bold 16px tahoma;
	color: #37a244;
}
.single-bds .content-bds h1{
	font-size: 2em;
	margin-top:0px;
}
.list-news .item-news{
	background: #fff;
	padding-top:20px;
	margin-bottom:15px;
	border: 1px solid #dedede;
}
.list-news .item-news img.avatar{
	object-fit: cover;
	height: 150px;
	margin: 0 auto;
	width:100%;
}
.list-news .item-news h3 a{
	font:bold 16px/22px Tahoma;
	text-decoration: none;
}
.list-news .item-news h3 a:hover{
	color:red;
}
.single-news .content-news {
	background-color:#fff;
	border: 1px solid #dedede;
	padding:15px;
}
.single-news .content-news img{
	height:auto;
	max-width: 100%;
}
.single-news .content-news h1{
	font-size: 2em;
	font-weight: bold;
	margin-top:0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: unset;
}
.footer_news img{
	object-fit: cover;
	height: 244px !important;
	margin: 0 auto;
	width: 100%;
}
.footer_news h4 a{
	color:#000;
}
.footer_news_list a{
	color: #000 !important;
	text-decoration: none;
}

.carousel-control.right, .carousel-control.left{
	background-image:unset;
}