body {
/*	background: url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:18px;
	background: url(../images/bg1.jpg);
}
@media (min-width: 1200px){
	.container {
	    width: 1280px;
	}
}
.homepage ._title{
	color: #001E80;
	text-transform: uppercase;
	font-family: 'Oswald';
	font-weight: 600;
	font-size: 26px;
	margin-bottom: 10px;
}
.line {
    background-image: url(../images/line.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 5px;
    width: 100%;
    margin-bottom:25px;
}
.camket .ck_item:nth-child(1) img{
	animation: 4s ease-in-out 0s normal none infinite running chang-rotage-anim;
}
.camket .ck_item:nth-child(2) img{
	animation: 4s ease-in-out 0s normal none infinite running chang-rotage-anim-1b;
}
.camket .ck_item:nth-child(3) img {
    animation: 4s ease-in-out 0s normal none infinite running chang-rotage-anim-1a;
}
.camket img{
	width: 40%;
	float:left;
}
.camket h3{
	font-weight: bold;
}
.camket .ck_item .thumbnail{
	border-radius: unset;
	border: 1px solid #fff;
}
.du_an img{
	object-fit: cover;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    object-position: 0 0;
}
@media screen and (max-width: 767px){
    .du_an img{
        height:150px !important;
    }
    .du_an h3 {
        font-size: 12px;
    }
    .news .item_t h3{
        font-size:12px !important;
    }
}
.bang_gia .price{
	text-align: center;
	margin-bottom:15px;
}
.bang_gia .price span{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color:red;
}
.bang_gia h3.panel-title{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
}
.news .item_t h3{
	font-size:1em;
	font-weight: bold;
}
.news .item_m h3{
	font-size: 1.5em;
	font-weight: bold;
}
#footer{
	background-color:#fff;
	border-radius: 5px;
	padding-top:10px;
}
#primary_menu {
	background-color: #000;
	border-color:#000;
	border-radius:unset;
	margin-bottom:0px;
}
#primary_menu a{
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 110px;
	transition: 0.5s all ease;
}
.panel{
	border-radius:unset;
}
.bang_gia .panel-default{
	border-color:fff;
	-webkit-box-shadow: 3px 8px 45px 0px rgba(163,163,163,0.89);
	-moz-box-shadow: 3px 8px 45px 0px rgba(163,163,163,0.89);
	box-shadow: 3px 8px 45px 0px rgba(163,163,163,0.89);
}
.bang_gia_1 .panel-heading{
	background: #eee;
	color: #000;
	border-color: #eee;
}
.bang_gia_2 .panel-heading{
	background: #ffb412;
	color: #fff;
	border-color: #ffb412;
}
.bang_gia_3 .panel-heading{
	background: #42abe5;
	color: #fff;
	border-color: #42abe5;
}

@keyframes chang-rotage-anim {
	0% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	10% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	25% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	40% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	100% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
}
@keyframes chang-rotage-anim-1b {
	0% {
		transform: translate(0px, 0px)
	}
	40% {
		transform: translate(0px, 0px)
	}
	45% {
		transform: translate(0px, -5px)
	}
	55% {
		transform: translate(0px, 0px)
	}
	60% {
		transform: translate(0px, 5px)
	}
	65% {
		transform: translate(0px, 0px)
	}
	70% {
		transform: translate(0px, -5px)
	}
	75% {
		transform: translate(0px, 0px)
	}
	100% {
		transform: translate(0px, 0px)
	}
}

@keyframes chang-rotage-anim-1a {
	0% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	72% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	75% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	80% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	85% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	95% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	100% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
}

@keyframes change-rotage-anim-3d {
	0% {
		transform: rotateY(0deg) scale(1) skew(1deg)
	}
	10% {
		transform: rotateY(180deg) translate(10px, 10px) scale(1) skew(1deg) rotate(-180deg)
	}
	25% {
		transform: rotateY(90deg) translate(10px, 10px) scale(1) skew(1deg) rotate(180deg)
	}
	40% {
		transform: rotateY(0deg) translate(0px, 0px) scale(1) skew(1deg) rotate(0)
	}
	100% {
		transform: rotateY(0deg) scale(1) skew(1deg)
	}
}

@keyframes chang-rotage-anim-1 {
	0% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	20% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	25% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	30% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	35% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	45% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	55% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	100% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
}

@keyframes chang-rotage-anim-2 {
	0% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	50% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	45% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	60% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	65% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	70% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	85% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	100% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
}

@keyframes chang-rotage-anim-3 {
	0% {
		transform: translate(0px, 0) rotate(0deg)
	}
	60% {
		transform: translate(0px, 0) rotate(0deg)
	}
	75% {
		transform: rotate(-180deg) translate(-10px, 10px) rotate(180deg)
	}
	90% {
		transform: rotate(180deg) translate(-10px, 10px) rotate(-180deg)
	}
	100% {
		transform: translate(0px, 0px)
	}
}

@keyframes chang-rotage-anim-4 {
	0% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	70% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	75% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	80% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	85% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	90% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	95% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	100% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
}

@keyframes chang-rotage-anim-5 {
	0% {
		transform: translate(0px, 0) rotate(0deg)
	}
	70% {
		transform: translate(0px, 0) rotate(0deg)
	}
	85% {
		transform: rotate(-180deg) translate(-30px, 30px)
	}
	95% {
		transform: rotate(180deg) translate(-30px, 30px)
	}
	100% {
		transform: translate(0px, 0px)
	}
}

@keyframes chang-rotate-Y {
	0% {
		transform: rotateY(0deg)
	}
	25% {
		transform: rotateY(90deg)
	}
	50% {
		transform: rotateY(180deg)
	}
	75% {
		transform: rotateY(270deg)
	}
	100% {
		transform: rotateY(360deg)
	}
}
