body{
    font-size: 14px;
}
ul li{
    list-style-type: none;
}
ul.menu li.main-menu{
    border-bottom:1px solid #eee;
    padding-bottom:15px;
}
ul.menu li.main-menu li{
    padding-top:10px;
}
.list_item{

}
.list_category{
    margin-left:-20px;
}
.list_scroll{
    height:250px;
    overflow: scroll;
}
.list_category ul{
    margin-left:-20px;
}
.left-menu li a{
    color:#000;
}
.left-menu li{
    border-bottom:1px solid #eee;
}
.left-menu .sub-menu li{
    border-bottom:unset !important;
    padding-bottom:10px;
}
.left-menu{
    box-shadow: 5px 5px 5px 5px #eee;
    padding-right:unset;
}
