body{
    font-family: Tahoma,Verdana,Arial, sans-serif;
    font-size: 11px;
    color: #222222;
    margin: 0px;
    background-color: #DFEFF9;
}
tr td, tr th{
    font-size: 11px; !important;
}
h2 h3 {
    font-size:13px;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
ul.menu li.main-menu{
    border-bottom:1px solid #eee;
    padding-bottom:15px;
}
ul.menu li.main-menu li{
    padding-top:10px;
}
#navbar{
    background-color: #87B6D9;
    border-color:#87B6D9;
}
#navbar a{
    color:#fff;
}
.list_item{

}
.list_category{
    margin-left:-20px;
}
.list_scroll{
    height:250px;
    overflow: scroll;
}
.list_category ul{
    margin-left:-20px;
}
.left-menu li a{
    color:#336699;
    text-decoration: none;
    font-weight: bold;
}
.left-menu li{
    border-bottom:1px solid #eee;
}
.left-menu .sub-menu li{
    border-bottom:unset !important;
    padding-bottom:10px;
}
.left-menu{
    padding-right:unset;
    background-color: #ffffff;
    border: 1px solid #a6c9e2;
}
@media screen and (min-width: 1000px){

}
.left-menu .dropdown-menu{
    min-width: 100%;
    border: unset;
    position: absolute;
    top: -4px;
    left: 100%;
    border-radius: unset;
    font-size:11px;
}
.left-menu .dropdown-menu li{
    border-bottom:unset;
}
.line-bg{
    background: #fcfcfe url(../images/line-bg.jpg) repeat-y right top;
}
.avatar-user{
    margin:0 auto;
}
.left-menu li:hover .dropdown-menu{
    display:block;
}
.table>tbody>tr>td, .table>thead>tr>th{
    vertical-align: middle;
    text-align: center;
}
.dashboard h3 {
    font-size: 13px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}
.searchform{
    margin-top:0px;
}
.panel-heading{
    border: 1px solid #4297d7;
    background: #5c9ccc url(../images/ui-bg.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
    background-color: #4297d7 !important;
    border-color: #5c9ccc !important;
}
.panel-heading .panel-title{
    color:#ffffff;
    font-size:13px;
}
.table thead tr{
    border: 1px solid #c5dbec;
    font-weight: bold;
    color: #2e6e9e;
}
.table>thead>tr>td.active, .table>tbody>tr>td.active, .table>tfoot>tr>td.active, .table>thead>tr>th.active, .table>tbody>tr>th.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>tbody>tr.active>td, .table>tfoot>tr.active>td, .table>thead>tr.active>th, .table>tbody>tr.active>th, .table>tfoot>tr.active>th{
    background: #5c9ccc url(../images/ui-bg-2.png) 50% 50% repeat-x;
}
.btn{
    background: #5c9ccc url(../images/ui-bg-2.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #2e6e9e;
    border: 1px solid #c5dbec;
    font-size: 13px;
}
.btn:hover, .btn:focus{
    background: #5c9ccc url(../images/ui-bg-2.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #2e6e9e;
    border: 1px solid #2e6e9e;
    font-size: 13px;
}
